<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yongda.lc.dal.mapper.RolesDOMapper">
    <resultMap id="BaseResultMap" type="com.yongda.lc.dal.model.RolesDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCR" property="descr" jdbcType="VARCHAR"/>
        <result column="IS_DISABLE" property="isDisable" jdbcType="CHAR"/>
        <result column="CREATE_NAME" property="createName" jdbcType="VARCHAR"/>
        <result column="CREATE__ID" property="createId" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_NAME" property="updateName" jdbcType="VARCHAR"/>
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        ID, NAME, DESCR, IS_DISABLE, CREATE_NAME, CREATE__ID, CREATE_TIME, UPDATE_TIME, UPDATE_NAME,
        UPDATE_ID
    </sql>
</mapper>